
<!-- o componente só é inicializado quando a requisição http GET terminar -->
<div *ngIf="iniciarComponente == true" >
  <!-- componente do Relatório(WebdataRocks) -->
  <wbr-pivot #pivot1 [toolbar]=true
 [width]="'100%'"
 [height]="500"
 [report]="getReport()">
WebDataRocks will appear here
</wbr-pivot>
</div>
